@import 'config';
// 去掉移动端点击一个链接或JS定义的可点击元素会出现一个半透明的灰色背景
html * {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: pxToRem(14px);
  width: 6.4rem;
  color: $color-1;
  margin: 0 auto;
  background: #dddddd;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  &:link {
    text-decoration: none;
    color: $color-1;
  }
  &:active {
    text-decoration: none;
    opacity: 0.5;
  }
  &:visited {
    text-decoration: none;
    color: $color-1;
  }
  &:hover {
    text-decoration: none;
    color: $color-1;
  }
}

// 去除input默认样式
input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  font-size: pxToRem(13px);
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.white-content {
  width: 6.4rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.div-content {
  margin-bottom: pxToRem(44px); // padding-bottom: pxToRem(44px);
  // width: 6.4rem;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: pxToRem(44px);
  // @include compatible(transform, translateX(-50%));
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
}

.main {
  // padding-bottom: pxToRem(44px);
}

.clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #1a1a1f;
}

 :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #1a1a1f;
}

 ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #1a1a1f;
}

 :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #1a1a1f;
}

.common-popup {
  font-size: pxToRem(14px);
  width: 100%;
  ul {
    padding: 0 pxToRem(16px);
  }
  li {
    height: pxToRem(50px);
    line-height: pxToRem(50px);
    text-align: center;
    border-bottom: 1px solid rgba(#cecece, .5);
    &.item-search {
      @include display-box;
      @include compatible(box-align, center);
      @include compatible(box-pack, center);
      i {
        margin-right: pxToRem(4px);
        display: block;
        width: pxToRem(16px);
        height: pxToRem(16px);
        background: url('../../src/assets/bg_24.png') left center no-repeat;
        background-size: contain;
        vertical-align: center;
      }
    }
  }
}

.no-img {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  @include compatible(border-radius,
  50%);
}

.red {
  color: #ff0000;
}

.page-loadmore-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.fixed {
  position: fixed;
  z-index: 50;
}

.font14 {
  font-size: pxToRem(14px)
}

body .mint-msgbox {
  font-size: pxToRem(14px)
}

.search {
  width: auto;
  margin: 0 auto;
  padding: 0 pxToRem(20px);
  .title {
    padding: pxToRem(15px) 0;
    span {
      float: left;
      line-height: pxToRem(21px);
    }
    .btn {
      float: right;
      width: pxToRem(61px);
      height: pxToRem(20px);
      @include compatible(border-radius,
      pxToRem(4px));
      background: url('../../src/assets/bg_19.png') pxToRem(11px) pxToRem(4px) no-repeat #707070;
      background-size: pxToRem(11px);
      text-indent: pxToRem(27px);
      font-size: pxToRem(12px);
      color: #fff;
    }
  }
  .search_div {
    width: pxToRem(333px);
    height: pxToRem(45px);
    border: 1px solid #a1a1a1;
    @include compatible(border-radius,
    pxToRem(4px));
    overflow: hidden;
    position: relative;
  }
  .search_key {
    width: 90%;
    height: 100%;
    border: 0;
    text-indent: pxToRem(15px);
    font-size: pxToRem(14px);
  }
  .clear_search {
    position: absolute;
    width: pxToRem(18px);
    height: pxToRem(18px);
    background: url('../../src/assets/bg_20.png') center center no-repeat;
    background-size: contain;
    right: pxToRem(10px);
    top: 50%;
    @include compatible(transform,
    translateY(-50%));
  }
  .hot {
    margin-top: pxToRem(20px);
    dt {
      font-size: pxToRem(12px);
    }
    dd {
      color: #ff0000;
      margin-top: pxToRem(12px);
      line-height: 100%;
    }
  }
  .result {
    dl {
      margin-top: pxToRem(20px);
      dt {
        font-size: pxToRem(12px);
      }
      dd {
        margin-top: pxToRem(12px);
        line-height: 100%;
      }
    }
    .bottom-line {
      border-bottom: 1px solid #cecece;
      padding-bottom: pxToRem(20px);
    }
  }
}
