$color-1: #000000;
@mixin compatible($key, $val) {
    #{$key}: $val;
    -moz-#{$key}: $val;
    -webkit-#{$key}: $val;
}

@function pxToRem($px) {
    @return $px / 58.5938px * 1rem;
}

@mixin display-box {
    display: -moz-box;
    display: -webkit-box;
}

@mixin display-flex {
    display: -moz-flex;
    display: -webkit-flex;
}